* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


/* Head */
.head {
  width: 100%;
  display: inline-table;
  font-size: 100%;
  line-height: 1.2;
}
  
.logo {
  width: 10%;
  margin-left: 10%;
  display: inline-table;
}
  
.logo:hover {
  border: solid blue 2px;
}
  
.col-2 {
  width: 15%;
  display: inline-table;
  float: right; 
  color:  grey;
  text-decoration: none;
}

.col-2:hover{
  color: blue;
}

.home {
  display: inline-table;
  padding: 1%;
  margin-top: 2%;
  text-align: right;
}

.contact {
  object-position: bottom;
  padding: 1%;
  text-align: right;
  display: inline-table;
  margin-right: 10%;
  margin-top: 2%;
}
  

/* BigImage */
.bigImage {
  margin: auto;
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/59c3b2c2fb27bf00016f2692/59c3b2c2fb27bf00016f26e4_photo-1416359658663-73a3834895eb.jpg);
  filter: opacity(50%);
  background-repeat: no-repeat;
  background-position: center;
  size: 100%;
  padding: 5% 20%;
  border-bottom: solid 4px rgb(105, 185, 255);
}
  
h1 {
  text-transform: uppercase;
  font-size: 4vw;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  position: relative; 
  width: 100%;
  letter-spacing: 4px;
  color: white;
  padding: 1%;
}

h2 {
  font-size: 2vw;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: skyblue;
  text-align: center;
  padding: 2%;
}


/* Button Learn more */
button {
  background-color: DodgerBlue;
  background-size: 15%;
  border: solid 1px darkblue;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 1vw;
  line-height: 100%;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 2%;
  width: 20%;
  justify-content: center;
  margin: 0 40% 0 40%;
  min-width: 20%;
}

button:hover {
  border: solid blue 2px;
  background: bottom
}

button:active {
  position: relative;
  background-color: blue;
}


/* 3 options headers */
.headerOption {
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.opti {
  color: rgb(103, 103, 112);
  font-size: 1.5vw;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 1em;
}

.bla {
  padding-bottom: 1em;
  color: grey;
  color: rgb(142, 142, 156);
}


/* Columns of options */
.col-options {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: inline-flex;
  justify-content: center;
}

.col1, .col2, .col3 {
  width: 30%;
  border: solid 0.25px lightblue;
  border-radius: 50px;
  text-align: center;
  display: inline-table;
  padding-bottom: 5%;
}

.opt-header {
  color: rgb(142, 142, 156);
  font-size: 1.2vw;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.img-responsive {
  color: blue;
  height: 40%;
  width: 40%;
  margin: 10%;
  left: 50%;
}

.text {
  margin: 10px;
  font-size: 1vw;
  line-height: 25px;
  font-weight: 300;
  color: rgb(103, 103, 112);
}


/* AboutMedia */
.aboutMedia {
  background-color: rgba(214, 214, 214, 0.678);
}

.headerSocial {
  color: rgb(103, 103, 112);
  font-size: 1vw;
  line-height: 1.2;
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 1%;
  text-align: left;
}

.about {
  padding-right: 5%;
  display: inline-table;
  margin-left: 10%;
  width: 30%;
  min-width: 30%;
}

.media {
  padding-right: 5%;
  display: inline-table;
  margin-right: 10%;
  margin-left: 20%;
  width: 20%;
  min-width: 20%;
}

.text2 {
  font-size: 1vw;
  line-height: 1.2;
  text-align: left;
  color: rgb(103, 103, 112);
  display: inline-table;
  margin: 0 0 0 10%;
  width: 30%;
}

.iconAndLink {
  display: inline-table;
  margin: 0 10% 2% 20%;
  width: 25%;
}

.link {
  color: rgb(120, 120, 129);
  font-size: 0.8vw;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 4px;
  display: inline-block;
  clear: both;
  width: 80%;
  text-decoration: none;
  vertical-align:  middle;
}

.link:hover {
  color: blue;
}

.icon {
  float: left;
  width: 15%;
}


/* Footer */
.footer {
  background-color: black;
  color: white;
  font-size: 0.8vw;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
  padding: 20px;
}